.App {
    padding-top: 3rem;
}
#main-alert {
    position: relative;
    z-index: 100000;
}
.cell-error {
    background-color: rgba(255, 65, 65, 0.858);
    color: white !important;
}
.MuiInputBase-root {
    height: 100%;
}

.cell_with-error {
    box-shadow: inset 0 0 5px rgba(255, 0, 0, 0.5);
}

.MuiSwitch-colorSuccess {
    color: red !important;
}
.MuiSwitch-track {
    background-color: gray !important;
}

.Mui-checked.MuiSwitch-colorSuccess {
    color: #2e7d32 !important;
}