.controllers {
    display : flex;
    align-items: center;
    position: relative;
    gap: 1rem;
    flex-wrap: wrap;
}

.columns-edit {
   border-color: #ddd;
   z-index: 1;
   inset-inline-start: 200px;
   inset-inline-end: unset;
    transform: translateY(300px);
}

.menu-right {
    margin-left: auto;
}

#settings:hover, #settings:focus {
    cursor: pointer;
}

