.controllers {
    display : flex;
    align-items: center;
    position: relative;
    gap: 1rem
}

.columns-edit {
   border-color: #ddd;
   z-index: 1;
   inset-inline-start: 200px;
   inset-inline-end: unset;
    transform: translateY(300px);
}
